@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html, body {
    margin: 0;
    padding: 0;
    overscroll-behavior: none;
    font-family: 'Inter', sans-serif;
  }
}

/* Material Symbols default styling */
.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 24;
  vertical-align: middle;
}

.material-symbols-outlined.fill-1 {
  font-variation-settings: 'FILL' 1;
}

/* Custom scrollbars for medical dashboards */
::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

::-webkit-scrollbar-track {
  background: #eff4ff;
}

::-webkit-scrollbar-thumb {
  background: #bdc9c6;
  border-radius: 3px;
}

::-webkit-scrollbar-thumb:hover {
  background: #6e7977;
}
